Coding/UMLConverter/.idea/libraries/Gradle____local_aars___C__Users_Arthur_Desktop_UNIPAMPA_LABISE_UML_Recongnizer_Projetos_RecorDS_App_Coding_UMLConverter_app_libs_xstream_1_4_7_jar_unspecified_jar.xml
Coding/UMLConverter/app/build/intermediates/instant_app_manifest/debug/output.json
Coding/UMLConverter/app/build/intermediates/instant_app_manifest/debug/AndroidManifest.xml
Coding/UMLConverter/app/build/intermediates/compatible_screen_manifest/debug/createDebugCompatibleScreenManifests/out/output.json
Coding/UMLConverter/app/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/output.json
Coding/UMLConverter/app/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/AndroidManifest.xml
Coding/UMLConverter/app/build/intermediates/apk_list/debug/mainApkListPersistenceDebug/apk-list.gson
Coding/UMLConverter/app/build/generated/source/buildConfig/debug/br/edu/unipampa/br/umlconverter/BuildConfig.java
Coding/UMLConverter/app/build/generated/source/buildConfig/androidTest/debug/br/com/unipampa/acervoanimalapp/test/BuildConfig.java
Coding/UMLConverter/.idea/workspace.xml
Coding/UMLConverter/.idea/vcs.xml
Coding/UMLConverter/.idea/runConfigurations.xml
Coding/UMLConverter/.idea/encodings.xml
Coding/UMLConverter/.idea/caches/gradle_models.ser
Coding/UMLConverter/.idea/caches/build_file_checksums.ser
Coding/UMLConverter/.gradle/vcs-1/gc.properties
Coding/UMLConverter/.gradle/buildOutputCleanup/outputFiles.bin
Coding/UMLConverter/.gradle/buildOutputCleanup/cache.properties
Coding/UMLConverter/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Coding/UMLConverter/.gradle/5.1.1/gc.properties
Coding/UMLConverter/.gradle/5.1.1/fileHashes/fileHashes.lock
Coding/UMLConverter/.gradle/5.1.1/fileHashes/fileHashes.bin
Coding/UMLConverter/.gradle/5.1.1/fileChanges/last-build.bin
Coding/UMLConverter/.gradle/5.1.1/executionHistory/executionHistory.lock
Coding/UMLConverter/.gradle/5.1.1/executionHistory/executionHistory.bin
Coding/UMLConverter/.idea/modules.xml
Coding/UMLConverter/.idea/misc.xml
Coding/UMLConverter/.idea/gradle.xml
Coding/UMLConverter/tesstwo/build/outputs/logs/manifest-merger-debug-report.txt
Coding/UMLConverter/tesstwo/build/intermediates/merged_manifests/debugAndroidTest/output.json
Coding/UMLConverter/tesstwo/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
Coding/UMLConverter/tesstwo/build/intermediates/merged_manifests/debug/output.json
Coding/UMLConverter/tesstwo/build/intermediates/library_manifest/debug/AndroidManifest.xml
Coding/UMLConverter/tesstwo/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
Coding/UMLConverter/tesstwo/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
Coding/UMLConverter/tesstwo/build/generated/source/buildConfig/debug/com/googlecode/tesseract/android/BuildConfig.java
Coding/UMLConverter/tesstwo/build/generated/source/buildConfig/androidTest/debug/com/googlecode/tesseract/android/test/BuildConfig.java
Coding/UMLConverter/openCVLibrary300/build/outputs/logs/manifest-merger-debug-report.txt
Coding/UMLConverter/openCVLibrary300/build/intermediates/merged_manifests/debugAndroidTest/output.json
Coding/UMLConverter/openCVLibrary300/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
Coding/UMLConverter/openCVLibrary300/build/intermediates/merged_manifests/debug/output.json
Coding/UMLConverter/openCVLibrary300/build/intermediates/library_manifest/debug/AndroidManifest.xml
Coding/UMLConverter/openCVLibrary300/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
Coding/UMLConverter/openCVLibrary300/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
Coding/UMLConverter/openCVLibrary300/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
Coding/UMLConverter/openCVLibrary300/build/generated/source/buildConfig/androidTest/debug/org/opencv/test/BuildConfig.java
Coding/UMLConverter/openCVLibrary300/build/generated/aidl_source_output_dir/debug/compileDebugAidl/out/org/opencv/engine/OpenCVEngineInterface.java
Coding/UMLConverter/local.properties
Coding/UMLConverter/app/build/outputs/logs/manifest-merger-debug-report.txt
Coding/UMLConverter/app/build/intermediates/metadata_feature_manifest/debug/processDebugManifest/metadata-feature/output.json
Coding/UMLConverter/app/build/intermediates/merged_manifests/debugAndroidTest/output.json
Coding/UMLConverter/app/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
Coding/UMLConverter/app/build/intermediates/merged_manifests/debug/output.json
Coding/UMLConverter/app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
Coding/UMLConverter/app/build/intermediates/instant_run_merged_manifests/debug/output.json
sh.exe.stackdump
Coding/UMLConverter/.idea/libraries/Gradle____local_aars___C__Users_Arthur_Desktop_Projetos_LabISE_RecorDS_Projetos_RecorDS_App_Coding_UMLConverter_app_libs_xstream_1_4_7_jar_unspecified_jar.xml
